
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Realm - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" th:href="@{/assets/ico/favicon.html}">
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/assets/css/theme.css}" rel="stylesheet">
    <link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/alertify.css}" rel="stylesheet">
    <!-- <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css"> -->
    <link rel="Favicon Icon" th:href="@{/assets/ico/favicon.ico}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrap">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="logo">
                    <img th:src="@{/assets/img/logo.png}" alt="Realm Admin Template">
                </div>
                <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="btn btn-navbar slide_menu_left visible-tablet">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="top-menu visible-desktop">
                    <ul class="pull-right">
                        <li><a th:href="@{/user/login}"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <!-- Side menu -->
        <div class="sidebar-nav nav-collapse collapse">
            <div class="user_side clearfix">
                <img th:src="@{/assets/img/odinn.jpg}" alt="Odinn god of Thunder">
                <h5 th:text="${session.user.getUserRole()}">Odinn</h5>
                <h5 th:text="${session.user.getUserName()}">Odinn</h5>
            </div>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <a class="accordion-toggle b_9FDDF6 active" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="icon-reorder"></i> <span>借卖方</span></a>
                    </div>
                    <div id="collapse2" class="accordion-body collapse active in">
                        <div class="accordion-inner">
                            <a class="accordion-toggle" th:href="@{'/seller/getInfo/'+${session.user.getUserId()}}"><i class="icon-rss"></i> 我的信息</a>
                            <a class="accordion-toggle" href="#"><i class="icon-star"></i> 我的订单</a>
                            <a class="accordion-toggle" th:href="@{/seller/sellerAccount}"><i class="icon-list-alt"></i> 我的钱包</a>
                            <a class="accordion-toggle" th:href="@{/Stores/storeindex}"><i class="icon-table"></i> 我的店铺</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Side menu -->

        <!-- Main window -->
        <div class="main_container" id="tables_page">
            <div class="row-fluid">
                <div class="widget widget-padding span12">
                    <div class="widget-header">
                        <i class="icon-table"></i>
                        <h5>平台商品一览</h5>
                        <div class="widget-buttons">
                            <!--<a href="http://twitter.github.com/bootstrap/base-css.html#tables" data-title="Documentation" class="tip" target="_blank"><i class="icon-external-link"></i></a>-->
                            <!--<a href="#" data-title="Collapse" data-collapsed="false" class="tip collapse"><i class="icon-chevron-up"></i></a>-->
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="row-fluid">
                            <form th:action="@{/Store/brandgoods}" method="post">
                                <div>
                                    <div style="float:left">
                                        <a th:href="@{/Store/brandgoods}" class="btn btn-primary">查看全部信息</a>
                                    </div>
                                    <div style="float:right">
                                        <input type="text" class="input-medium search-query" style="width:240px" name="keyword"><button type="submit" class="btn btn-primary  ">搜索</button>
                                    </div>
                                </div>
                            </form>
                            <br/><br/>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>商品名称</th>
                                    <th>商品类别</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="list : ${Lists}">
                                    <td th:text="${list.goodName}">Amie</td>
                                    <td th:text="${list.getType().getContent3()}">Admin</td>
                                    <td>
                                        <span class="label label-success" th:if="${list.status} eq '已上架'" th:text="${list.status}">Active</span>
                                        <span class="label label-warning" th:if="${list.status} eq '已下架'"  th:text="${list.status}">Active</span>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a th:if ="${list.status} eq '已下架'" ><span class="label label-warning"> 已下架无法操作 </span></a>
                                            <a th:if ="${list.status} eq '已上架' " th:href="@{'/Stores/addgoods/'+${id}+'/'+${list.goodId}+'/'}" class="btn"><span class="label label-success"> 添加到我的店铺 </span> </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/><br/>
                            <div align="right">
                            </div>
                        </div><!--/widget-body-->
                    </div> <!-- /widget -->
                </div> <!-- /row-fluid -->
            </div>
        </div><!-- wrap ends-->
    </div>
</div>




<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/raphael-min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap.js}"></script>
<script type="text/javascript" th:src='@{/assets/js/sparkline.js}'></script>
<script type="text/javascript" th:src='@{/assets/js/morris.min.js}'></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.masonry.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.imagesloaded.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.facybox.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.alertify.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.knob.js}"></script>
<script type='text/javascript' th:src='@{/assets/js/fullcalendar.min.js}'></script>
<script type='text/javascript' th:src='@{/assets/js/jquery.gritter.min.js}'></script>
<script type="text/javascript" th:src="@{/assets/js/realm.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
</body>
</html>
