

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" th:href="@{../assets/ico/favicon.html}">
    <link th:href="@{../assets/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../assets/css/theme.css}" rel="stylesheet">
    <link th:href="@{../assets/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{../assets/css/alertify.css}" rel="stylesheet">
    <!-- <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css"> -->
    <link rel="Favicon Icon" th:href="@{../assets/ico/favicon.ico}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="logo">
                    <img th:src="@{../assets/img/logo.png}" alt="Realm Admin Template">
                </div>
                <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="btn btn-navbar slide_menu_left visible-tablet">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="top-menu visible-desktop">
                    <ul class="pull-right">
                        <li><a th:href="@{/user/login}"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </div>
                <div class="top-menu visible-phone visible-tablet">
                    <ul class="pull-right">
                        <li><a title="link to View all Messages page, no popover in phone view or tablet" href="#"><i class="icon-envelope"></i></a></li>
                        <li><a title="link to View all Notifications page, no popover in phone view or tablet" href="#"><i class="icon-globe"></i></a></li>
                        <li><a th:href="@{login}"><i class="icon-off"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <!-- Side menu -->
        <div class="sidebar-nav nav-collapse collapse">
            <div class="user_side clearfix">
                <img th:src="@{../assets/img/odinn.jpg}" alt="Odinn god of Thunder">
                <h5>Odinn</h5>
                <a href="#"><i class="icon-cog"></i> Settings</a>
            </div>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle active b_F79999" href="#"><i class="icon-dashboard"></i> <span>管理员</span></a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"><i class="icon-magic"></i> <span>借卖方</span></a>
                    </div>
                    <div id="collapse1" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <a class="accordion-toggle" href="#"><i class="icon-star"></i> 我的订单</a>
                            <a class="accordion-toggle" href="#"><i class="icon-list-alt"></i> 我的钱包</a>
                            <a class="accordion-toggle" href="#"><i class="icon-table"></i> 我的店铺</a>
                            <a class="accordion-toggle" href="#"><i class="icon-circle"></i> 查看货物</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_9FDDF6 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="icon-reorder"></i> <span>品牌商</span></a>
                    </div>
                    <div id="collapse2" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <a class="accordion-toggle" href="#"><i class="icon-rss"></i> 我的货物</a>
                            <a class="accordion-toggle" href="#"><i class="icon-calendar"></i> 我的钱包</a>
                            <a class="accordion-toggle" href="#"><i class="icon-picture"></i> 查看店铺</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_F6F1A2" href="#"><i class="icon-tasks"></i> <span>这是个测试111</span></a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_C1F8A9" href="#"><i class="icon-bar-chart"></i> <span>这是个测试</span></a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_9FDDF6" href="#"><i class="icon-bullhorn"></i> <span>这是个测试</span></a>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_F5C294" href=""><i class="icon-user"></i> <span>这是个测试</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Side menu -->

        <!-- Main window -->
        <div class="main_container">
            <div class="row-fluid">
                <!-- 页面内容写在这里 -->
                <div class="col-lg-offset-1 col-lg-10">
                    <div class="panel panel-primary">
                        <!-- Default panel contents -->
                        <div class="panel-heading">店铺信息管理</div>
                        <div class="panel-body">
                            <p>
                            <div class="alert alert-success">
                                对店铺的信息进行增删改查操作
                                <a th:href="@{/stores/addstore}" class="alert-link">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加一个店铺</a>
                            </div>
                            </p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>店铺编号</th>
                                    <th>店铺名</th>
                                    <th>拥有者</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Stores:${stus}">
                                    <td th:text="${Stores.storeId}"> aehyok</td>
                                    <td th:text="${Stores.storeName}">leo</td>
                                    <td th:text="${Stores.user.userName}">leo</td>
                                    <td>
                                        <a th:href="@{'updatestore/'+${Stores.getStoreId()}}" title="修改">修改<i class="fa fa-edit text-navy"></i></a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a th:href="@{'delete/'+${Stores.getStoreId()}}" title="删除">删除<i class="fa fa-trash-o text-navy"></i></a>
                                    </td>

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- /Main window -->

    </div><!--/.fluid-container-->
</div><!-- wrap ends-->




<script type="text/javascript" th:src="@{../assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/raphael-min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/sparkline.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/morris.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.masonry.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.imagesloaded.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.facybox.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.alertify.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.knob.js}"></script>
<script type='text/javascript' th:src="@{../assets/js/fullcalendar.min.js}"></script>
<script type='text/javascript' th:src="@{../assets/js/jquery.gritter.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/realm.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.slimscroll.min.js}"></script>
</body>
</html>
