<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Realm - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" th:href="@{/assets/ico/favicon.html}">
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/assets/css/theme.css}" rel="stylesheet">
    <link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/alertify.css}" rel="stylesheet">
    <!-- <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css"> -->
    <link rel="Favicon Icon" th:href="@{/assets/ico/favicon.ico}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrap">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="logo">
                    <img th:src="@{/assets/img/logo.png}" alt="Realm Admin Template">
                </div>
                <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="btn btn-navbar slide_menu_left visible-tablet">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="top-menu visible-desktop">
                    <ul class="pull-right">
                        <li><a th:href="@{/user/login}"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">

        <!-- Side menu -->

        <div class="sidebar-nav nav-collapse collapse">
            <div class="user_side clearfix">
                <img th:src="@{/assets/img/odinn.jpg}" alt="Odinn god of Thunder">
                <h5 th:text="${session.user.getUserRole()}">Odinn</h5>
                <h5 th:text="${session.user.getUserName()}">Odinn</h5>
            </div>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <a class="accordion-toggle b_9FDDF6 active" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="icon-reorder"></i> <span>品牌商</span></a>
                    </div>
                    <div id="collapse2" class="accordion-body collapse active in">
                        <div class="accordion-inner">
                            <a class="accordion-toggle" th:href="@{/brand/brandinfo}"><i class="icon-rss"></i> 我的信息</a>
                            <a class="accordion-toggle" th:href="@{/brand/index}"><i class="icon-calendar"></i> 商品录入</a>
                            <a class="accordion-toggle" th:href="@{/brand/mainframe}"><i class="icon-picture"></i> 商品主图</a>
                            <a class="accordion-toggle" th:href="@{/brand/brandaccount}"><i class="icon-calendar"></i> 我的钱包</a>
                            <a class="accordion-toggle" th:href="@{/brand/brandorder}"><i class="icon-picture"></i> 订单管理</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Side menu -->

        <!-- Main window -->
        <div class="main_container" id="tables_page">
            <div class="row-fluid">
                <div class="widget widget-padding span12">
                    <div class="widget-header">
                        <i class="icon-table"></i>
                        <h5>我的订单</h5>
                    </div>
                    <div class="widget-body">

                        <div class="row-fluid">

                        </div>

                        <div class="row-fluid">
                            <div class="col-lg-offset-2 col-lg-6">
                                <form th:action="@{/brand/selectorder}" method="post">
                                    <div class="col-lg-6 form-control">
                                        <label class="label">订单状态</label>
                                        <select name="status" class="form-control">
                                            <option value="0">全  部</option>
                                            <option value="待发货">待发货</option>
                                            <option value="已发货">已发货</option>
                                            <option value="已完成">已完成</option>
                                            <option value="已取消">已取消</option>
                                        </select>
                                        <button type="submit" class="btn btn-success">查询</button>
                                    </div>
                                </form>
                                <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>订单编号</th>
                                    <th>商品ID</th>
                                    <th>借买方</th>
                                    <th>收货地址</th>
                                    <th>数量</th>
                                    <th>支付时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Order:${brandorder}">
                                    <td th:text="${Order.orderId}"></td>
                                    <td th:text="${Order.goods.goodId}"></td>
                                    <td th:text="${Order.store.user.userName}"></td>
                                    <td th:text="${Order.ship.getAddress()}"></td>
                                    <td th:text="${Order.quantity}"></td>
                                    <td th:text="${Order.payTime}"></td>
                                    <td th:switch="${Order.status}">
                                        <span th:case="已支付" class="label label-info" th:text="${Order.status}"></span>
                                        <span th:case="待发货" class="label label-warning" th:text="${Order.status}"></span>
                                        <span th:case="已发货" class="label label-primary" th:text="${Order.status}"></span>
                                        <span th:case="待退款" class="label label-danger" th:text="${Order.status}"></span>
                                        <span th:case="已完成" class="label label-success" th:text="${Order.status}"></span>
                                        <span th:case="已取消" class="label label-default" th:text="${Order.status}"></span>
                                    </td>
                                    <td>
                                        <a th:if="${Order.status == '待发货'}" th:href="@{'/brand/deliverorder/'+${Order.orderId}}" class="btn btn-warning">发货</a>
                                    </td>
                                </tr>
                                </tbody>
                                </table>
                            </div>
                        </div><!--/widget-body-->
                    </div> <!-- /widget -->
                </div> <!-- /row-fluid -->
            </div>
        </div><!-- wrap ends-->
    </div>
</div>




<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/raphael-min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap.js}"></script>
<script type="text/javascript" th:src='@{/assets/js/sparkline.js}'></script>
<script type="text/javascript" th:src='@{/assets/js/morris.min.js}'></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.masonry.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.imagesloaded.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.facybox.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.alertify.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.knob.js}"></script>
<script type='text/javascript' th:src='@{/assets/js/fullcalendar.min.js}'></script>
<script type='text/javascript' th:src='@{/assets/js/jquery.gritter.min.js}'></script>
<script type="text/javascript" th:src="@{/assets/js/realm.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
</body>
</html>
