<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页</title>
    <link th:href="@{/frontend/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/frontend/js/jquery.min.js}"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link th:href="@{/frontend/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <link th:href="@{/frontend/css/memenu.css}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{/frontend/js/memenu.js}"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!--<script th:src="@{/frontend/js/simpleCart.min.js}"> </script>-->
    <!-- slide -->
    <script th:src="@{/frontend/js/responsiveslides.min.js}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="col-sm-4 world">
            </div>
            <div class="col-sm-4 logo">
                <a th:href="@{/consumer/index}"><img th:src="@{/frontend/images/logo.png}" alt=""></a>
            </div>

            <div class="col-sm-4 header-left">
                <p class="log"  th:if="${session.user == null}"><a th:href="@{/consumer/login}"  >登陆</a>
                    <span>或</span><a  th:href="@{/consumer/register}"  >注册</a>
                </p>
                <p class="log"  th:if="${session.user != null}" align="right">
                    <label th:text="${session.user.getUserName()}"  ></label>，欢迎你！
                </p>
                <div class="cart box_1"  th:if="${session.user != null}">
                    <a th:href="@{/consumer/checkout}" style="text-decoration: none; color: inherit;">
                        <h3>
                            <div class="total">
                                <span id="simpleCart_total" th:text="'￥' + ${totalPrice}"></span>
                            </div>
                            <img th:src="@{/frontend/images/cart.png}" alt=""/>
                        </h3>
                        <p><span href="javascript:;" class="simpleCart_empty" style="color:lightgrey;">购物车</span></p>
                    </a>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="container">
        <div class="head-top">
            <div class="col-sm-2 number">
                <span><i class="glyphicon glyphicon-phone"></i>800 820 8820</span>
            </div>
            <div class="col-sm-8 h_menu4">
                <ul class="memenu skyblue">
                    <li class=" grid"><a  th:href="@{/consumer/index}">Home</a></li>
                    <li th:each="primary : ${primaries}"><a  href="#" th:text="${primary.getKey()}">Men</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1" th:each="secondaries : ${primary.getValue()}">
                                    <div class="h_nav">
                                        <h4 th:text="${secondaries.getKey()}">All Clothing</h4>
                                        <ul >
                                            <li th:each="tertiaries : ${secondaries.getValue()}"><a th:href="@{'/consumer/search/' + ${tertiaries.getValue()}}" th:text="${tertiaries.getKey()}">Shirts</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!---->
        </div>
        <form th:action="@{/consumer/search}" method="post">
            <div class="input-group">
                <input type="text" class="form-control" name="keyword">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                </span>
            </div><!-- /input-group -->
        </form>
    </div>
</div>
<!--content-->
<div class="content">
    <div class="container">
        <div class="content-top">
            <h1>最新 上架</h1>
            <div class="content-top1">
                <div class="col-md-3 col-md2" th:each="good, index : ${goods}">
                    <div class="col-md1 ">
                        <a href="#">
                            <img class="img-responsive"  th:src="@{'/goodsimg/'+${good.getBrandRepos().getImage()}}" alt="" />
                        </a><br/>
                        <h3><a href="#" th:text="${good.getBrandRepos().getGoodName()}">Tops</a></h3>
                        <div class="price">
                            <h5 class="item_price" th:text="${good.getPrice()}">$300</h5>
                            <a th:if="${session.user != null}" href="javascript:void(0);" th:onclick="'addcarts(' + ${index.index} + ')'" >加入购物车</a>
                            <div class="clearfix"> </div>
                            <input th:id="'storeGoodsId' + ${index.index}" type="hidden" th:value="${good.getStoreGoodsId()}">
                            <input th:id="'userId' + ${index.index}" th:if="${session.user != null}" type="hidden" th:value="${session.user.getUserId()}">
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="content-top1">
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--//content-->
<!--footer-->
<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="clearfix"> </div>
            <p class="footer-class">Copyright &copy; 2018.暨南大学南校区软件工程酱油团及模板之家</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    function addcarts(index){
            var userId = $("#userId"+index).val();
            var storeGoodsId = $("#storeGoodsId"+index).val();
            //alert(userId + ' ' + storeGoodsId);
            $.ajax({
                type:"POST",
                url : "/conrest/addcart",
                async : false,
                data:{
                    userId : userId,
                    goodId : storeGoodsId
                },
                success:function(data){
                    //$("#simpleCart_total").text = data;
                    document.getElementById("simpleCart_total").innerText = "￥"+data;
                }
            });
    }
</script>
<!--//footer-->
</body>
</html>