<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" th:href="@{../assets/ico/favicon.html}">
    <link th:href="@{../assets/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../assets/css/theme.css}" rel="stylesheet">
    <link th:href="@{../assets/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{../assets/css/alertify.css}" rel="stylesheet">
    <!-- <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css"> -->
    <link rel="Favicon Icon" th:href="@{../assets/ico/favicon.ico}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="logo">
                    <img th:src="@{../assets/img/logo.png}" alt="Realm Admin Template">
                </div>
                <div class="top-menu visible-desktop">
                    <ul class="pull-right">
                        <li><a th:href="@{/user/login}"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </div>>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <!-- Side menu -->
        <div class="sidebar-nav nav-collapse collapse">
            <div class="user_side clearfix">
                <img th:src="@{../assets/img/admin.jpg}" alt="Odinn god of Thunder">
                <h5 th:text="${session.user.getUserRole()}"></h5>
                <h5 th:text="${session.user.getUserName()}"></h5>
            </div>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"><i class="icon-magic"></i> <span>管理员业务</span></a>
                    </div>
                    <div id="collapse1" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <a class="accordion-toggle active" th:href="@{../administrator/type}"><i class="icon-star"></i> 商品类别管理</a>
                            <a class="accordion-toggle" th:href="@{../administrator/cash}"><i class="icon-list-alt"></i> 平台流水管理</a>
                            <a class="accordion-toggle" th:href="@{../administrator/brand}"><i class="icon-user"></i> 品牌商角色管理</a>
                            <a class="accordion-toggle" th:href="@{../administrator/seller}"><i class="icon-user"></i> 借卖方角色管理</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Side menu -->

        <!-- Main window -->
        <div class="main_container">
            <div class="row-fluid">
                <!-- 页面内容写在这里 -->
                <div class="col-lg-12">
                    <p>
                    <div class="alert alert-success">
                        添加商品信息
                    </div>
                    </p>
                </div>

                <div class="col-lg-offset-2 col-lg-6">
                    <form class="form-horizontal" role="form" action="../../administrator/addType" method="post">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td>一级目录</td>
                                <td>二级目录</td>
                                <td>三级目录</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" name="content1" class="form-control"></td>
                                <td><input type="text" name="content2" class="form-control"></td>
                                <td><input type="text" name="content3" class="form-control"></td>
                            </tr>
                            <tr>
                                <td colspan="3"><button type="submit" class="btn btn-success">添加商品类型</button></td>
                            </tr>
                            </tbody>
                        </table>

                    </form>
                </div>

            </div>
        </div>
        <!-- /Main window -->

    </div><!--/.fluid-container-->
</div><!-- wrap ends-->




<script type="text/javascript" th:src="@{../assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/raphael-min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/sparkline.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/morris.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.masonry.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.imagesloaded.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.facybox.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.alertify.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.knob.js}"></script>
<script type='text/javascript' th:src="@{../assets/js/fullcalendar.min.js}"></script>
<script type='text/javascript' th:src="@{../assets/js/jquery.gritter.min.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/realm.js}"></script>
<script type="text/javascript" th:src="@{../assets/js/jquery.slimscroll.min.js}"></script>
</body>
</html>
