<!DOCTYPE html>
<!--备份成功-->
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Realm - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" th:href="@{/assets/ico/favicon.html}">
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/assets/css/theme.css}" rel="stylesheet">
    <link th:href="@{/assets/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/alertify.css}" rel="stylesheet">
    <!-- <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css"> -->
    <link rel="Favicon Icon" th:href="@{/assets/ico/favicon.ico}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <style type="text/css">
        td {
            text-align: center;
        }
    </style>
    <![endif]-->
</head>
<body>

<div id="wrap">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="logo">
                    <img th:src="@{/assets/img/logo.png}" alt="Realm Admin Template">
                </div>
                <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="btn btn-navbar slide_menu_left visible-tablet">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="top-menu visible-desktop">
                    <ul class="pull-right">
                        <li><a th:href="@{/user/login}"><i class="icon-off"></i> Logout</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">

        <!-- Side menu -->

        <div class="sidebar-nav nav-collapse collapse">
            <div class="user_side clearfix">
                <img th:src="@{/assets/img/odinn.jpg}" alt="Odinn god of Thunder">
                <h5 th:text="${session.user.getUserRole()}">Odinn</h5>
                <h5 th:text="${session.user.getUserName()}">Odinn</h5>
            </div>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">

                    <div class="accordion-heading">
                        <a class="accordion-toggle b_9FDDF6 active" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="icon-reorder"></i> <span>品牌商</span></a>
                    </div>
                    <div id="collapse2" class="accordion-body collapse active in">
                        <div class="accordion-inner">
                            <a class="accordion-toggle" th:href="@{/seller/getInfo}"><i class="icon-rss"></i> 我的信息</a>
                            <a class="accordion-toggle" href="#"><i class="icon-star"></i> 我的订单</a>
                            <a class="accordion-toggle" th:href="@{/seller/sellerAccount}"><i class="icon-list-alt"></i> 我的钱包</a>
                            <a class="accordion-toggle" th:href="@{'/Stores/storeindex'}"><i class="icon-table"></i> 我的店铺</a>
                            <a class="accordion-toggle" href="#"><i class="icon-circle"></i> 查看货物</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Side menu -->

        <!-- Main window -->
        <div class="main_container" id="tables_page">
            <div class="row-fluid">
                <div class="widget widget-padding span12">
                    <div class="widget-header">
                        <i class="icon-table"></i>
                        <h5>我的订单</h5>
                    </div>
                    <div class="widget-body">

                        <div class="row-fluid">

                        </div>

                        <div class="row-fluid">
                            <div class="col-lg-offset-2 col-lg-6">
                                <form th:action="@{/seller/search}" method="post">
                                    <!--div class="col-lg-4 form-control"-->
                                        <label class="label">订单状态</label>
                                        <select name="status" class="form-control">
                                            <option value="0">全  部</option>
                                            <option value="1" th:selected="${status} eq '1'">已支付</option>
                                            <option value="2" th:selected="${status} eq '2'">待退款</option>
                                            <option value="3" th:selected="${status} eq '3'">待发货</option>
                                            <option value="4" th:selected="${status} eq '4'">已发货</option>
                                            <option value="5" th:selected="${status} eq '5'">已完成</option>
                                            <option value="6" th:selected="${status} eq '6'">已取消</option>
                                        </select>
                                        &nbsp;&nbsp;
                                    <!--/div-->
                                    <!--div class="col-lg-4 form-control"-->
                                        <label class="label">店铺名称</label>
                                        <select name="stores" class="form-control">
                                            <option value="0" th:selected="${storestatue} eq '0'">全  部</option>
                                            <option th:each="store:${storelist}" th:value="${store.storeId}" th:text="${store.storeName}" th:selected="${storestatue} eq ${store.storeId}+''"></option>
                                        </select>
                                        <button type="submit" class="btn btn-success">查询</button>
                                    <!--/div-->
                                </form>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>订单编号</th>
                                        <th>商品ID</th>
                                        <th>商品名</th>
                                        <th>消费者</th>
                                        <th>数量</th>
                                        <th>总价</th>
                                        <th>收货地址</th>
                                        <th>创建时间</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order:${orders}">
                                        <td th:text="${order.orderId}"></td>
                                        <td th:text="${order.goods.goodId}"></td>
                                        <td th:text="${order.goods.goodName}"></td>
                                        <td th:text="${order.consumer.userId}"></td>
                                        <td th:text="${order.quantity}"></td>
                                        <td th:text="${order.totalPrice}"></td>
                                        <td><a th:text="详细地址" th:title="${order.ship.province}+${order.ship.city}+${order.ship.district}+${order.ship.address}
    +'邮编'+${order.ship.postal}"></a></td>
                                        <td th:text="${order.payTime}"></td>
                                        <td th:text="${order.status}"></td>
                                        <td>
                                            <a th:if="${order.status} eq '已支付'" th:href="@{'/seller/delivery/'+${order.orderId}+'/'+${status}+'/'+${storestatue}}" class="btn btn-warning">发货</a>
                                            <a th:if="${order.status ne '已支付'}" href="#" class="btn">发货</a>
                                        </td>
                                        <td>
                                            <a th:if="${order.status} eq '待退款'" th:href="@{'/seller/drawback/'+${order.orderId}}" class="btn btn-danger">退款</a>
                                            <a th:if="${order.status ne '待退款'}" href="#" class="btn">退款</a>
                                        </td>
                                        <td>
                                            <a th:if="${order.status} eq '已发货'" th:href="@{'/seller/done/'+${order.orderId}}" class="btn btn-success">完成</a>
                                            <a th:if="${order.status ne '已发货'}" href="" class="btn">完成</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--/widget-body-->
                    </div> <!-- /widget -->
                </div> <!-- /row-fluid -->
            </div>
        </div><!-- wrap ends-->
    </div>
</div>




<script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/raphael-min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap.js}"></script>
<script type="text/javascript" th:src='@{/assets/js/sparkline.js}'></script>
<script type="text/javascript" th:src='@{/assets/js/morris.min.js}'></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.masonry.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.imagesloaded.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.facybox.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.alertify.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.knob.js}"></script>
<script type='text/javascript' th:src='@{/assets/js/fullcalendar.min.js}'></script>
<script type='text/javascript' th:src='@{/assets/js/jquery.gritter.min.js}'></script>
<script type="text/javascript" th:src="@{/assets/js/realm.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
</body>
</html>
